// generated using template: func_h.template
//---------------------------------------------------------------------------------

/*********************************************************************************
**
**  Module Name: func.h
**  Description:
**            Header file
** 
**  Author: {{author}}
**  Date:   {{date}}
**********************************************************************************/
 
{% include 'function_prototypes.template' %}
