// generated using template: func_c.template
//---------------------------------------------------------------------------------

/*********************************************************************************
**
**  Module Name: func.c
**  Description:
**            Func file
** 
**  Author: {{author}}
**  Date:   {{date}}
**********************************************************************************

{% include 'functions.template' %}	
